@media screen and (min-width: 320px) {
  .landing-container {
    height: auto;
    display:flex;
    flex-direction: column;
  }

  .main-title {
    font-family: 'Old Standard TT', serif;
    color: black;
    margin-top: 50px;
    font-size: 50px;
    text-align: center;
  }

  .landing-inner-containter {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 40px;
    height: 150px;
    width: 200px;
    background-color: white;
  }

  .statement-container {
    /*width: 80%;*/
    display: flex;
    margin-top: 0px;
    margin: auto;
    background-color: white;
  }

  .border {
    border-top: 2px solid darkblue;
    width: 75%;
    margin: auto;
  }

  .centering {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-bottom: 50px;
  }

  .statement-bubbles {
    border-radius: 25px;
    box-shadow: 5px 10px darkblue;
    padding: 1%;
    background-color: cornflowerblue;
    height: auto;
    width: 300px;
    font-size: 30px;
    font-family: 'Stint Ultra Condensed', cursive;
    margin-top: 50px;
    color: white;
  }

  .landing-content {
    font-family: 'Old Standard TT', serif;
    text-align: center;
    color: white;
  }

  .headline {
    font-family: 'Playfair Display', serif;
    text-align: center;
    font-weight: bold;
    color: white;
  }

  .lets-go {
    height: 50px;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    font-size: 15px;
    border: 2px solid white;
    background-color: white;
    font-family: 'Gentium Book Basic', serif;
    border-radius: 10px;
    box-shadow: 5px 8px lightgray;
  }

  .started {
    font-size: 15px;
    text-decoration: none;
    color: black;
  }
}

@media screen and (min-width: 800px) {
  .main-title {
    width: 75%;
    color: black;
    margin: auto;
    font-size: 70px;
  }

  .centering {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .statement-bubbles {
    border-radius: 25px;
    box-shadow: 5px 10px darkblue;
    padding: 1%;
    background-color: cornflowerblue;
    height: 350px;
    width: 350px;
    font-size: 30px;
    font-family: 'Stint Ultra Condensed', cursive;
    margin-top: 50px;
    margin-right: 20px;
    color: white;
  }

  .lets-go {
    height: 50px;
    width: 100px;
    margin: auto;
    font-size: 15px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 8px lightgray;
  }

}
