@media screen and (min-width: 320px) {
  .landing-container {
    height: 700px;
    display:flex;
    flex-direction: column;
  }

  .main-title {
    background-color: white;
    font-family: 'Bungee Shade', cursive;
    color: black;
    margin-top: 50px;
    font-size: 40px;
    text-align: center;
  }

  .landing-inner-containter {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 40px;
    height: 150px;
    width: 200px;
    background-color: white;
  }

  .statement-container {
    width: 80%;
    margin-top: 0px;
    margin: auto;
    background-color: white;
  }

  .main-statement {
    background-color: white;
    height: auto;
    width: auto;
    font-size: 20px;
    font-family: 'Stint Ultra Condensed', cursive;
    margin: 15px;
    color: black;
  }

  .lets-go {
    margin-top: 15px;
    height: 50px;
    width: 100px;
    margin: auto;
  }

  .started {
    text-decoration: none;
    color: black;
  }
}

@media screen and (min-width: 800px) {
  .main-title {
    background-color: white;
    width: 75%;
    color: black;
    margin: auto;
    margin-top: 50px;
    font-size: 70px;
    /*text-align: center;*/
  }

  .start-button {
    margin-top: 15px;
    height: 35px;
    margin-right: 50%
  }

  .main-statement {
    background-color: white;
    height: auto;
    width: auto;
    font-size: 30px;
    font-family: 'Stint Ultra Condensed', cursive;
    margin: 15px;
    color: black;
  }

}
