.App {
  background-image: /*linear-gradient(rgba(172, 172, 172, 0.4), rgba(172, 172, 172, 0.4)), */url(../images/colorful-map.png);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: auto;
  
}