.text {
    display:flex;
    font-size: 15px;
    border: 1px solid lightgray;
    background-color: whitesmoke;
}

.button-container-comment {
  display: flex;
  align-items: center;
  justify-content: center;
}

.comment-submit {
  height: 45px;
  width: 80px;
  margin: auto;
  background-color: whitesmoke;
}

.comment-text {
  width: 90%;
}