@media screen and (min-width: 320px) {
  .title {
    color: black;
    margin-top: 30px;
    font-size: 50px;
    text-align: center;
  }

  .top-stories {
    text-align: center;
    color: black;
    margin-bottom: 20px;
  }

  .articles-container {
    display: flex;
    flex-direction: column;
    margin: auto;
    height: 400px;
    width: 90%;
    margin-bottom: 20px;
    background-color: white;
  }

  .temp-image {
    margin: auto;
  }

  .news-image {
    margin-top: 30px;
    width: 100%;
    height: 100%
  }
  
  .temp-text {
    margin-top: 50px;
    height: 200px;
    width: 100%;
  }

  .like-comment {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border: 2px  rgb(245, 245, 245) solid;
  }

  .interactive-button {
    border-right: 2px  rgb(245, 245, 245) solid;
    background-color: white;
    border: none;
  }
}

@media screen and (min-width: 800px) {
  .articles-container {
    margin: auto;
    height: 400px;
    width: 75%;
    margin-bottom: 20px;
    background-color: white;
  }

  .news-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 100%;
  }

  .temp-image {
    height: 80%;
  }

  .temp-text { 
    height: 20%;
  }

}






/*input {
  margin-left: 30px;
  margin-top: 15px;
  margin-bottom: 10px;
}

form {
  margin-bottom: 50px;
}



.temp-image {
  margin-top: 50px;
  justify-content: space-evenly;
  height: 200px;
  width: 50%;
  border: 2px solid black;
}

.temp-text {
  margin-top: 50px;
  height: 200px;
  width: 50%;
  border: 2px solid black;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 20px;
  text-align: center;
  color: rgba(0, 0, 255, 0.466);
}
*/